/* Default css */
body{
    font-family: 'Poppins', sans-serif;
}


.btn{
    background: #df3584;
    padding: 5px 20px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
.btn:hover{
    background: #b60859;
}

/* Header Section */
nav{
    background: #2d25ad;
}
.navbar{
    display: flex;
    justify-content: space-around;
    padding: 30px 15px;  
    
}

.menu-left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-left span:hover{
    background: rgb(106, 95, 218);
    border-radius: 5px;
}
.menu-left span a{
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

.menu-right span a{
    color: #fff;
    text-decoration: none;
}
/* Banner section */

.banner{
    background: #2d25ad;
    display: flex;
    
    align-items: center;
    justify-content: space-around;
    padding: 30px 0;
    /* flex-wrap: wrap; */
    
}
.banner-text{
   
    padding: 20px;
    

}
.banner-text h1{
    font-size: 60px;
    color: #fff;
}
.bnr-btn{
    
}
.bnr-btn i{
    margin-left: 10px;
}
.banner{
    transition: tranform 2s;
}
.banner:hover .banner-img{
    transform: translate(30px);
}
.banner-img img{
    width: 100%;
}
/* Players section */
.players-section{
    padding: 2rem ;
    
}
.players{
    /* display: flex;
    justify-content: center;
    flex-wrap: wrap; */
    
    

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 40px;
    
    
   
}
.player{
    padding: 20px;
    box-shadow: 10px 10px 10px #ddd;
    width: 300px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    
}
.player-img{
    height:220px ;
    width: 300px;
    
   
}
.player:hover .player-img{
    transform: scale(1.5, 1.5);
    transition: transform 1.5s;
    
}
.player img{
    width: 300px;
    height: 220px;
    border-radius: 20px;
}
/* Highlight section */
.highlight-section{
    background: #ddd;
    padding: 2rem 0;
}
.highlight{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.highlight-text{
    padding: 30px;
    width: 50%;
}
.highlight-text h1{
    font-size: 50px;
}
.highlight-video{
    margin-right: 20px;
}
iframe{
 
}
/* animation section */
.animation-section{
    position: relative;
}

.f-all{
    height: 600px;
    width: 100%;
    
}
.kick {
    height: 175px;
    position: absolute;
    top: 26em;
    left: 0;
    z-index: 1;
    transition: transform 0.2s ease-in;
}

.field:hover .kick{
    transform: translate(50px);
     transform-origin: top left;
     
}
.ball{
    transition: transform 1s ease-out 0.3s;
}
.animation-section:hover .ball{
    transform: translate(900px, -70px);
}
.ball{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: absolute;
    top: 27em;
    left: 18.5em;
    
}


/* Football Logo Section */
.football-logo{
    text-align: center;
    padding: 1.5rem 0;
}
.football-logo img{
    width: 480px;
    height: 110px;
}

/* Footer-section */
.footer-section{
    text-align: center;
    background: #241f47f1;
    color: #fff;
    padding: 10px 0;
}
.social-icon{
    transition: .8s;
}
.social-icon span{
    margin-right: 20px;
    font-size: 20px;
}
.fa-instagram:hover{
    background: rgb(221, 62, 34);
    transform: scale(1.5, 1.5);
    border-radius: 5px;
}
.fa-basketball-ball:hover{
    background: #fff;
    color: rgb(221, 62, 34);
    transform: scale(1.5, 1.5);
    border-radius: 50%;
}

.fa-twitter:hover, .fa-facebook:hover{
    color: rgb(9, 150, 245);
    transform: scale(1.5, 1.5);
    border-radius: 5px;
}


/* Responsive Media Queries*/
@media  screen and (max-width: 992px) {
    .banner{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
      }
    .banner-text h1 {
        font-size: 40px;
    }
    .banner-img img {
        width: 400px;
    }
    .players {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
         
    }
    .highlight-text h1 {
        font-size: 30px;
    }
    iframe{
        width: 425px;
        height: 300px;
        
    }
}
@media  screen and (max-width: 688px) {
    .banner{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
    .banner-text {
        margin-bottom: 20px;
    }
    .banner-text h1 {
        font-size: 40px;
    }
    .banner-img img {
        width: 400px;
    }
    .players {
        
        grid-template-columns: repeat(1, 1fr);
       
        
    
       /* display: flex;
       flex-wrap: wrap; */
       /* justify-content: center;
        align-items: center; */
    }
    .highlight-text h1 {
        font-size: 30px;
    }
    iframe{
        width: 425px;
        height: 300px;
        
    }
}
