/* Default css */
body{
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 1160px;
    margin: 0 150px;
}
.btn{
    background: #df3584;
    padding: 5px 20px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
.btn:hover{
    background: #b60859;
}

/* Header Section */
nav{
    background: #2d25ad;
}
.navbar{
    width: 1160px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 30px 15px; 
    margin: 0 150px;
    
    
}


.menu-left span:hover{
    background: rgb(106, 95, 218);
    border-radius: 5px;
}
.menu-left span a{
    color: #fff;
    text-decoration: none;
    margin-right: 30px;
}

.menu-right span a{
    color: #fff;
    text-decoration: none;
}
/* Banner section */

.banner{
    background: #2d25ad;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    
}
.banner-text{
    width: 40%;
    margin-right: 50px;
    margin-left: 160px;
    padding: 20px;

}
.banner-text h1{
    font-size: 60px;
    color: #fff;
}
.bnr-btn{
    
}
.bnr-btn i{
    margin-left: 10px;
}
.banner-img{
    width: 50%;
    margin-left: 40px;
}
.banner-img img{
    width: 550px;
}
/* Players section */
.players-section{
    padding: 2rem ;
    
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 45px;
    width: 1160px;
    margin: 0 150px;
}
.player{
    padding: 20px;
    box-shadow: 10px 10px 10px #ddd;
    width: 300px;
    border-radius: 20px;
    margin-right: 30px;
}
.player img{
    width: 300px;
    height: 220px;
    border-radius: 20px;
}
/* Highlight section */
.highlight-section{
    background: #ddd;
    padding: 2rem 0;
}
.highlight{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1160px;
    margin: 0 150px;
}
.highlight-text{
    width: 50%;
    padding: 30px;
}
.highlight-text h1{
    font-size: 50px;
}
.highlight-video{
    width: 50%;
}
/* Football Logo Section */
.football-logo{
    text-align: center;
    padding: 1.5rem 0;
}
.football-logo img{
    width: 480px;
    height: 110px;
}
/* Footer-section */
.footer-section{
    text-align: center;
    background: #241f47f1;
    color: #fff;
    padding: 10px 0;
}
.social-icon{
    transition: .8s;
}
.social-icon span{
    margin-right: 20px;
    font-size: 20px;
}
.fa-instagram:hover{
    background: rgb(221, 62, 34);
    transform: scale(1.5, 1.5);
    border-radius: 5px;
}
.fa-basketball-ball:hover{
    background: #fff;
    color: rgb(221, 62, 34);
    transform: scale(1.5, 1.5);
    border-radius: 50%;
}

.fa-twitter:hover, .fa-facebook:hover{
    color: rgb(9, 150, 245);
    transform: scale(1.5, 1.5);
    border-radius: 5px;
}


/* Responsive Media Queries*/
@media only screen and (max-width:1300px) {
    .navbar {
        width: 1050px;
        margin: 0 85px;
    }
    .banner-text {
        width: 40%;
        margin-right: 25px;
        margin-left: 80px;
    }
    .banner-img {
        margin-left: 15px;
    }
    .banner-img img {
        width: 500px;
    }
    .players {
        margin: 0 40px;
    }
    .highlight {
        margin: 0 50px;
    }
    .highlight-text h1 {
        font-size: 45px;
    }
    iframe{
        width: 530px;
        height: 360px;
    }
    .football-logo img {
        width: 380px;
        height: 80px;
    }
}
@media only screen and (max-width: 1050px) {
    .navbar {
        width: 980px;
        margin: 0 20px;
    }
    .menu-left span a{
        margin-right: 15px;
    }
    .banner-text {
        margin-left: 60px;
    }
    .banner-text h1 {
        font-size: 45px;
    }
    .banner-img img {
        width: 450px;
    }
    .players {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .player {
        width: 350px;
  
    }
    .player img {
        width: 350px;
        height: 230px;
    }
    .highlight-text {
        width: 40%;
        padding: 20px;
    }
    .highlight-text h1 {
        font-size: 35px;
    }
    iframe {
        width: 420px;
        height: 300px;
    }
    .football-logo img {
        width: 350px;
        height: 60px;
    }
}
@media only screen and (max-width: 800px) {
    .navbar {
        width: 90%;
        margin: 0 20px;
    }
    .banner-text h1 {
        font-size: 35px;
    }
    .banner-img {
        width: 60%;
        margin-left: -50px;
    }
    .banner-img img {
        width: 400px;
    }
    .players {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 -38px;
    }
    .players {
        width: 300px;
    }
    .player img {
        width: 300px;
        height: 215px;
    }
    .highlight {
        margin: 0 -30px;
    }
    
}
